<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">
      <img src="assets/logo.png" alt="Logo" />
    </a>
    <div class="navbar-menu">
      <a routerLink="/login" class="nav-link">Accedi</a>
      <a routerLink="/register" class="nav-link">Registrati</a>
    </div>
    <div class="hamburger-menu" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
  <div class="dropdown-menu" *ngIf="isMenuOpen">
    <a routerLink="/login" class="dropdown-link">Accedi</a>
    <a routerLink="/register" class="dropdown-link">Registrati</a>
  </div>
</nav>
